@import 'bootstrap/scss/bootstrap.scss';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/_spinners';
@import 'bootstrap/scss/_badge.scss';
// @import 'bootstrap/scss/_grid';
// @import 'bootstrap/scss/helpers';

@import 'ml-style.scss';
@import 'media.scss';

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  // border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  // border: 5px solid transparent;
  background-clip: content-box;
  background-color: #9c9c9c;
}

.b1 {
  border: 1px solid red;
}

.b2 {
  border: 1px solid green;
}

.b3 {
  border: 1px solid yellowgreen;
}

// .ml-container {
//   z-index: 1;
//   width: 980px !important;
//   display: flex;
//   justify-content: center;
// }

.ml-nuxt-router-container {
  margin-top: 24px;
  min-height: 90vh;
}

.mfp-zoom-in {
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

.w100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}

.modal-demo,
.modal-call {
  // width: 312px;
  line-height: normal;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  background: #fff;
  // transform: translate(-50%, -50%);
  padding: 53px 28px 40px;
  border-radius: 20px;
  // box-shadow: 0 0 127px rgb(0 0 0 / 50%);
  // padding:
}

.v--modal {
  box-shadow: none !important;
  background-color: transparent !important;
}

.ml-scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 75px;
  bottom: 100px;
  background-color: white !important;
  padding: 18px;
  border: 2px solid #000;
  border-radius: 6px;
  line-height: 22px;
  font-size: 18px;
  text-align: center;
  color: #000;
  font-family: 'AF', sans-serif;
  font-weight: 300;
  width: 50px;
  height: 50px;
  transition: all ease-in-out 0.5s;
}

.ml-scroll-top:hover {
  background-color: black !important;
}

.slider4img {
  width: 100%;

  .item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 250px;
    // width: 240px;
    border-radius: 3px;
    // margin: 10px;

    .item_link {
      opacity: 0;
      -webkit-transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 20;
    }

    .item_text {
      position: absolute;
      z-index: 12;
      bottom: 0;
      padding: 28px 28px 20px 28px;

      .item_text_subtitle {
        font-size: 0.667em;
        line-height: 1.3em;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        opacity: 0.7;
        color: #fff;
        margin: 0 0 11px;
      }

      .item_text_title {
        max-height: 81px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        line-height: 1.4rem;
        color: #fff;
      }
    }

    .item_image {
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      transition: transform 0.6s ease;
    }
  }

  .item:hover {
    // .item_link {
    //   opacity: 1;
    // }

    .item_image {
      transform: scale(1.05);
    }
  }

  .item::before {
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    z-index: 11;
  }

  .item:hover::before {
    opacity: 1;
  }
}

.ml-partner-modal-info {
  line-height: normal;
  background: #fff;
  padding: 28px;
  border-radius: 20px;

  h2 {
    font-size: 18px;
    color: #fe634e;
    font-weight: 600;
    // font-family: 'OpinionPro',Arial,sans-serif;
    margin-bottom: 12px;
  }

  p {
    color: #666;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.55;
    // font-family: 'OpinionPro',Arial,sans-serif;
    font-weight: 300;
  }
}

.partner-filter-tag {
  // padding: 0 60px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.not-valid {
  border: 1px solid red !important;
}

.tech-block {
  cursor: pointer;
  border: 1px solid #E5E5E5;
  box-shadow: 0 0 20px rgb(0 0 0 / 3%);
  background-color: transparent;
  border-radius: 20px;
  padding: 26px;
  margin: 0 15px 15px 0;
  transition: .4s;
  display: flex;
  flex-flow: column;
  align-items: center;

  .img {
    height: 70px;
    border-radius: 6px;
    // margin-bottom: 15px;
  }

  .title {
      font-size: 18px;
      font-weight: 500;
      color: #383838;
  }
}

.tech-block:hover {
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  background-color: #FFF;
}

.tech-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.special-tags {
  position: absolute !important;
  top: 0 !important;
  z-index: 10;
}

.btn-tag,
.btn-tag:visited,
a.btn-tag,
a.btn-tag:visited,
a.btn-tag:link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  color: #7f7f7f;
  font-family: 'AF', sans-serif;
}

.ml-question {
  font-family: 'AF', sans-serif;
  font-size: 10px;
}

.btn-tag.active {
  color: #000 !important;
  border-bottom: 1px solid #000 !important;
}

.ml-phone-input {
  position: relative;
  padding-left: 48px !important;
}

.ml-phone-input + label {
  position: absolute;
}

.ml-phone-input + label::before {
  content: '+7 |';
  position: absolute;
  top: -31px;
  left: 17px;
  width: 45px;
  color: 1px solid rgba(85, 85, 85, 0.5);
}

.ml-phone-input.filled + label::before,
.ml-phone-input:focus + label::before {
  color: black;
}


.technology_flex {
  padding: 15px;
}

.btn-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.btn-footer {
  border: 1px solid #7f7f7f;
  border-radius: 0;
  display: block;
  margin: 0 10px 0 0;
  color: #7f7f7f;
  background: transparent;
  line-height: 22px;
  font-size: 18px;
  padding: 12px 18px;
  transition: .4s;
  font-family: 'AF', sans-serif;
  font-weight: 300;
  text-align: center;
}

.btn-footer:hover {
  color: white;
  background-color: black;
}

.ancors {
  display: flex;
  flex-flow: column;

  a {
    margin-bottom: 10px;
  }

  a:hover {
    color: #616060;
  }
}

.second-block {
  border-right: 2px solid rgb(234, 235, 238);
  border-left: 2px solid rgb(234, 235, 238);
  padding-left: 30px;
}

.third-block {
  padding: 0;
}

.ml-footer-second {
  background-color: black;
  
  .block1 {
    margin-left: 1.5rem;
  }

  .block2 {
    padding-left: 30px;
  }
  
  .block1,
  .block2,
  .block3 {
    color: white;
    display: flex;
    // padding-left: 20px;
    // justify-content: center;
    .stat {
      font-size: 2.3rem;
      margin-right: 10px;
    }
  }
}

.text1 {
  font-weight: 500;
  font-size: 16px;
}

.text14 {
  font-size: 14px;
}