@charset "utf-8";

@font-face {
    font-family: 'AF';
    src: url('../fonts/afuturica.eot');
    src: url('../fonts/afuturica.eot') format('embedded-opentype'),
         url('../fonts/afuturica.woff') format('woff'),
         url('../fonts/afuturica.svg#afuturica') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AF';
    src: url('../fonts/afuturicamedium.eot');
    src: url('../fonts/afuturicamedium.eot') format('embedded-opentype'),
         url('../fonts/afuturicamedium.woff') format('woff'),
         url('../fonts/afuturicamedium.svg#afuturicamedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'AF';
    src: url('../fonts/afuturicabook.eot');
    src: url('../fonts/afuturicabook.eot') format('embedded-opentype'),
         url('../fonts/afuturicabook.woff') format('woff'),
         url('../fonts/afuturicabook.svg#afuturicabook') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} 

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}ol,ul,nav{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}input{-webkit-appearance:none!important;}
button {transition:.4s;cursor:pointer;-webkit-appearance:none;outline:none;}a,a:hover {color: inherit;text-decoration: none;transition:.4s;cursor:pointer;}

* {box-sizing: border-box;}

body {
    background-color: #fff;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    color: #7F7F7F;
    font-size: 16px;
    font-family: 'AF', sans-serif;
    font-weight: normal;
    min-width: 1020px;
    padding-top: 81px;
}

/* #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

.container {
    display: block;
    width: 970px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.img-logo {
    display: block;
}

.btn {
    border: 2px solid #000000;
    border-radius: 6px;
    line-height: 22px;
    font-size: 18px;
    text-align: center;
    padding: 12px 35px;
    color: #FFFFFF;
    background: #000000;
    margin: 0 7px;
    transition: .4s;
}

.btn:hover {
    color: #000000;
    background: transparent;
}

.btn.bg_tr {
    color: #000000;
    background: transparent;
}

.btn.bg_tr:hover {
    color: #FFFFFF;
    background: #000000;
}

.header {
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 9;
}

.header-container {
    justify-content: space-between;
    align-items: center;
}

.header .info {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header .btn-order {
    margin: 0px;
    margin-right: 10px;
    margin-left: 30px;
    padding: 12px 29px;
}

.title_1,
.title_2 {
    line-height: 53px;
    font-size: 46px;
    letter-spacing: 3px;
    text-align: center;
    color: #000;
    font-weight: 500;
    margin-bottom: 29px;
}

.title_2 {
    font-size: 44px;
}

.title_3 {
    margin-bottom: 60px;
    font-size: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: #000;
}

.description {
    line-height: 19px;
    font-size: 16px;
    letter-spacing: 3px;
    color: #7F7F7F;
    text-transform: uppercase;
    text-align: center;
}


.platform {
    padding-top: 68px;
    padding-bottom: 70px;
}

.platform .mokap_1 {
    position: relative;
    min-height: 646px;
}

.mokap_1 .info_blok {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mokap_1 .mokap_bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px);
}

.platform .text {
    color: #383838;
    font-size: 15px;
    text-align: center;
    line-height: 1.3;
    font-weight: 300;
    position: relative;
}

.mokap_1 .text::after {
    content: '';
    display: block;
    border-color: #58B1DD;
    position: absolute;
    border-style: dotted;
}

.mokap_1 .info_blok_1 .text::after {
    width: 70px;
    height: 0px;
    left: calc(100% + 5px);
    top: 55%;
    border-width: 0 0 2px 0;
}


.mokap_1 .info_blok_2 .text::after{
    border-radius: 0px 0px 0px 50px;
    border-width: 0px 0px 2px 2px;
    top: calc(100% + 4px);
    left: 42%;
    height: 46px;
    width: 105px;
}

.mokap_1 .info_blok_3 .text::after{
    left: 51%;
    top: calc(100% + 23px);
    width: 0px;
    height: 37px;
    border-width: 0px 0px 0px 2px;
}

.mokap_1 .info_blok_4 .text::after{
    left: 51%;
    top: calc(100% + 26px);
    width: 0px;
    height: 58px;
    border-width: 0px 0px 0px 2px;
}

.mokap_1 .info_blok_5 .text::after{
    border-radius: 0px 0px 50px 0px;
    border-width: 0px 2px 2px 0px;
    top: calc(100% + 16px);
    right: 53%;
    height: 46px;
    width: 49px;
}

.mokap_1 .info_blok_6 .text::after{
    border-radius: 0px 0px 50px 0px;
    border-width: 0px 2px 2px 0px;
    top: calc(100% + 11px);
    right: 42%;
    height: 32px;
    width: 134px;
}

.mokap_1 .info_blok_7 .text::after{
    width: 53px;
    height: 0px;
    right: calc(100% + 30px);
    top: 29%;
    border-width: 0 0 2px 0;
}

.mokap_1 .info_blok_1 {
    left: 2%;
    bottom: 20%;
}

.mokap_1 .info_blok_1 .mokap_img {
    margin-left: 4px;
    margin-bottom: 3px;
}

.mokap_1 .info_blok_2 {
    left: 10%;
    bottom: 50%;
}

.mokap_1 .info_blok_2 .mokap_img {
    margin-left: -7px;
}

.mokap_1 .info_blok_3 {
    bottom: 70%;
    left: 25%;
}

.mokap_1 .info_blok_3 .mokap_img {
    margin-bottom: 10px;
}

.mokap_1 .info_blok_4 {
    bottom: 74%;
    left: 48%;
}

.mokap_1 .info_blok_4 .mokap_img {
    margin-bottom: 8px;
    margin-left: 7px;
}

.mokap_1 .info_blok_5 {
    bottom: 63%;
    right: 14%;
}

.mokap_1 .info_blok_5 .mokap_img {
    margin-bottom: 5px;
    margin-left: -12px;
}

.mokap_1 .info_blok_6 {
    bottom: 43%;
    right: 7%;
}

.mokap_1 .info_blok_6 .mokap_img {
    margin-left: 14px;
}

.mokap_1 .info_blok_7 {
    bottom: 18%;
    right: 4%;
}

.mokap_1 .info_blok_7 .mokap_img {
    margin-bottom: 10px;
    margin-left: -9px;
}

.platform .plus {
    line-height: 0;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    margin-top: -3px;
    margin-bottom: 49px;
    color: #000;
}

.advantages {
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 52px;
}

.advantages  .advantages_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages  .advantages_box_2 .img {
    margin-bottom: 7px;
}

.advantages  .advantages_box_2 .img {
    margin-bottom: 7px;
    margin-left: 7px;
}

.advantages  .advantages_box_3 .img {
    margin-bottom: 6px;
    margin-left: 9px;
}

.advantages  .advantages_box_4 .img {
    margin-bottom: 3px;
}

.platform .btn-order {
    margin: 0 auto;
    display: block;
    padding: 12px 30px;
}


.result {
    background: #F0F2F2;
    padding: 89px 0 72px;
}

.result .item {
    flex-direction: column;
    align-items: center;
    background: #fff;
    transition: .4s;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 3%);
    border-radius: 20px;
    padding: 24px 28px;
    width: 250px;
}

.result .item:hover {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
}

.block_partners.flex {
    justify-content: space-around;
    margin-top: 126px;

    padding: 0 45px
}

.result .title_1 {
    letter-spacing: 0.6px;
}

.result .item .image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 11px;
}

.result .item .img_link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
}

.result .item .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .4s;
}

.result .item .name {
    line-height: 1.3;
    letter-spacing: 1px;
    color: #383838;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.result .item .item_title:hover{
    color: #ea6b51;
}

.result .item .desc {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: #999999;
    margin-bottom: 25px;
}

.result .item .btn {
    font-size: 14px;
    text-align: center;
    padding: 6px 12px;
}

.convenient {
    padding: 88px 0 115px;
    overflow: hidden;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #F0F2F2));
    background: -webkit-linear-gradient(top,#FFFFFF ,#F0F2F2 100%);
    background: linear-gradient(to bottom,#FFFFFF ,#F0F2F2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFF0F2F2, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF0F2F2', GradientType=0)";
}

.convenient .container {
    position: relative;
}

.convenient .img_1 {
    position: absolute;
    right: 48%;
}

.convenient .img_2 {
    position: absolute;
    left: 56%;
    top: 9%;
}

.content_block_convenient {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
}

.section_1 .content_block_convenient {
    margin-left: 35%;
}

.section_2 .content_block_convenient {
    margin-right: 20%;
    align-items: flex-start;
}

.content_block_convenient .content_box {
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 3%);
    background-color: transparent;
    border-radius: 20px;
    padding: 19px;
    min-width: 25.3%;
    margin: 4px 5px;
    transition: .4s;
}

.content_block_convenient .content_box:hover {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
    background-color: #FFFFFF;
}

.content_block_convenient .content_box_title {
    font-size: 18px;
    font-weight: 500px;
}

.content_block_convenient li::before {
    content: "\203A";
    font-family: 'AF';
    font-weight: 500;
    margin-right: 5px;
}

.section_1 .content_block_convenient {
    margin-left: 35%;
    margin-top: 65px;
}

.content_block_convenient ul {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 300;
}

.content_block_convenient ul li{
    padding: 1px 0
}

.section_1 .content_box:nth-child(1) {
    margin-left: 25px;
}

.section_1  .content_box:nth-child(3) {
    min-width: 35%;
}

.section_1 .content_box:nth-child(4) {
    min-width: 34.3%;
}

.section_1 .content_box:nth-child(5) {
    min-width: 29.5%;
}

.section_1 .content_box:nth-child(6) {
    min-width: 30%;
}

.section_1 .content_box:nth-child(7) {
    margin-left: 45px;
    min-width: 43.8%;
}
.section_1 .content_box:nth-child(8) {
    min-width: 38.6%;
}

.section_1 {
    margin-bottom: 188px;
}

.section_2 .title_2 {
    text-align: left;
}

.section_2 .content_box:nth-child(1) {
    min-width: 26%;
}

.section_2  .content_box:nth-child(2) {
    min-width: 22%;
}

.section_2 .content_box:nth-child(4) {
    min-width: 37%;
}

.section_2 .content_box:nth-child(5) {
    min-width: 37%;
}

.section_2 .content_box:nth-child(6) {
    min-width: 37%;
    margin-top: -18px;
}

.section_2 .content_box:nth-child(7) {
    min-width: 37%;
}

.pop-templates {
    padding: 90px 0 42px;
}

.pop-templates .content-box {
    width: 71%;
    margin: 0 auto;
    padding-top: 30px;
}

.pop-templates .pop_title {
    font-size: 18px;
    font-weight: 500;
    color: #1A1A1A;
    padding: 9px 0;
    line-height: 1.6;
    position: relative;
}

.pop-templates .pop_title::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: absolute;
    right: 4px;
    top: 33%;
    transform: rotate(45deg) translate(0, -50%);
}

.pop-templates .pop_desc {
    font-weight: 300;
    padding: 11px 7%;
    display: none;
}

.pop-templates .img{
    margin-top: 41px;
}

.algorithms {
    background-color: #F0F2F2;
    padding: 80px 0;
}

.algorithms .content_box {
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: flex-start
}

.algorithms .item {
    position: relative;
    max-width: 50%;
    border: 1px solid #CCCCCC;
    background-color: transparent;
    border-radius: 20px;
    padding: 40px 0 0px;
    background-color: #F0F2F2;
    z-index: 1;
}

.algorithms .num {
    line-height: 1;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 17px rgb(0 0 0 / 5%);
    background-color: #1A1A1A;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}

.algorithms .item_1 {
    margin-left: 12px;
    max-width: 39%;
    text-align: center;
    order: -1;
}

.algorithms .item_2 {
    max-width: 39%;
    text-align: center;
    order: 1;
    margin-top: -97px;
    padding: 0;
    border: none;
    margin-left: 139px;
}

.algorithms .item_2 .num {
    bottom: auto;
    top: 50%;
    left: auto;
    right: 97%;
    transform: translate(-50%, -50%);
}

.algorithms .item_2::after {
    content: '';
    display: block;
    width: calc(100% + 0px);
    height: calc(100% + 191px);
    position: absolute;
    bottom: -143px;
    left: -35px;
    border-radius: 0px 50px 0px 50px;
    border-left: 1px dotted #CCCCCC;
    border-bottom: 1px dotted #CCCCCC;
    z-index: 0;
}

.algorithms .item_3 {
    max-width: 39%;
    text-align: center;
    order: 0;
    margin-left: auto;
    margin-right: 37px;
    margin-top: 8%;
    padding: 28px 9px;
    max-height: 422px;
}

.algorithms .item_3 .img {
    max-height: 324px;
    overflow: hidden;
}

.algorithms .item_4 {
    max-width: 39%;
    order: 2;
    margin-left: auto;
    padding: 39px 33px;
    margin-right: 18%;
    text-align: right;
    border: none;
    z-index: 0;
}

.algorithms .item_4 .num {
    left: 100%;
    top: 41%;
    transform: translate(-50%, -50%);
}

.algorithms .item_4::after {
    content: '';
    display: block;
    width: calc(100% + 106px);
    height: calc(100% + 255px);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50px;
    border: 1px dotted #CCCCCC;
    z-index: 0;
}

.algorithms .item_5 {
    max-width: 39%;
    text-align: center;
    order: 3;
    margin-top: -130px;
    padding: 42px 29px;
    margin-left: 18.5%;
}

.algorithms .item_5 .num {
    background-color: #F0F2F2;
}

.algorithms .item_6 {
    margin-left: auto;
    margin-right: auto;
    max-width: 62%;
    text-align: center;
    order: 4;
    padding: 35px 18px 12px;
    margin-top: 121px;
}

.algorithms .item_6::before,
.algorithms .item_6::after {
    content: '';
    display: block;
}

.algorithms .item_6::after {
    width: 60px;
    height: 42px;
    position: absolute;
    top: -63px;
    left: 209px;
    border-radius: 0px 50px 0px 50px;
    border-right: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    z-index: 0;
}

.algorithms .item_6::before {
    width: 138px;
    height: 60px;
    position: absolute;
    top: -123px;
    left: 79px;
    border-radius: 0px 50px 0px 50px;
    border-left: 1px dotted #CCCCCC;
    border-bottom: 1px dotted #CCCCCC;
    z-index: 0;
}

.foryou .span {
    display: block;
    font-size: 31px;
}

.foryou .span_1 {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 58px;
}

.foryou .span_2 {
    font-size: 41px;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-weight: 500;
    line-height: 66px;
}

.foryou .span_3 {
    font-size: 37px;
    letter-spacing: 7px;
    line-height: 59px;
}

.foryou .span_4 {
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 17px;
    font-weight: 500;
    line-height: 86px;
}

.foryou .span_5 {
    font-size: 31px;
    line-height: 50px;
}